name: Развертывание документации

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    name: Сборка HTML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Установка MkDocs и зависимостей
        run: |
          pip install mkdocs
          pip install mkdocs-glightbox
          pip install mkdocs-material
      - run: mkdocs build
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./site

  deploy:
    name: Развертка GitHub Page
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment